body {
	background-color: #ffffe6;
}

.btn-kana, .btn-control {
	font-weight: bold !important;
	margin: 0.25em;
	text-align: center;
}

.btn-kana {
	height: 40px;
	width: 40px;
	font-size:1.25em;
	display: inline-block;
}

header {
	text-align: center;
}

h1 {
	font-size: 4em;
}

h1, h5 {
	font-weight: bolder;
}

#display {
	width: 80%;
}

@media screen and (max-width: 800px) {
	#display {
		width: 100%;
	}
}

#mainBody {
	height: 95%;
	clear: both;
	display: block;
}

.customFooter {
	clear: both;
	position: relative;
	bottom: 0;
	display: block;
	z-index: -100;
}

#masterContainer {
	background-color: transparent;
	text-align: center;
}

.background {
	background-image: url("../img/dragon.jpg");
	background-repeat: repeat;
	background-size: contain;
}

.leftDiv, .rightDiv, .centerDiv {
	background-color: transparent;
	float: left;
	/* display: inline-block; */
	height: 100vh;
}

.leftDiv, .rightDiv {
	width: 10%;
}

.centerDiv {
	margin: 0 2%;
	width: 76%;
}

#japanPic {
	margin-top: 1em;
	background-color: transparent;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url("#");
	min-height: 500px;
}
